header
	.header-bg
	.header-content
		.header-content_text
			h1
				a(href="#")=header.title
			p=header.text
		a.scroll-to.header-content_down-arrow(href="#new_collection" title=header.arrow)=header.arrow
