section.news#news
	each val, index in news
		.news_item
			a.news_item-inner(href="#")
				span.news_item-text
					span.news_item-header=val.header
					span.news_item-anounse=val.anounse
				svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%")
					defs
						filter(id="filter"+index)
							feGaussianBlur(color-interpolation-filters="sRGB" stdDeviation="12" result="blur" "/")/

							feImage(xlink:href='data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%22100%22%20height%3D%22100%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20%2F%3E%3C%2Fsvg%3E' x="50%" y="50%" width="0%" height="0%" result="mask" preserveAspectRatio="none" "/")/

							feComposite(in2="mask" in="blur" operator="in" result="comp" "/")/
							feMerge(result="merge")
								feMergeNode(in="SourceGraphic" "/")/
								feMergeNode(in="comp" "/")/
					//-id is crosbowser bug fix
					svg(x="0" y="0" width="100%" height="100%" style="filter: url(#filter"+index+");-webkit-filter: url(#filter"+index+");")
						image.filtered(x="0" y="0" width="100%" height="100%" preserveAspectRatio = "xMidYMid" xlink:href="img/" + val.image)

					svg(x="0" y="0" width="100%" height="100%" viewBox="0 0 373 286")
						polyline.news_item-content-border(points="50,39 50,17 323,17 323,268 50,268 50,69")/
					svg(x="0" y="0" width="100%" height="100%" viewBox="0 0 373 286")
						polygon.news_item-content-arrow(points="50,47 62,53 50,61")/



