extends ./layout/default_layout.jade

block title_name
	title=title

block main_content
	include ../elements/preloader/preloader
	include ../elements/menu/menu
	include ../elements/header/header
	include ../elements/new_collection/new_collection
	include ../elements/must_have/must_have
	include ../elements/most_wanted/most_wanted
	include ../elements/sale/sale
	include ../elements/news/news
	include ../elements/footer/footer
