extends ./layout/default_layout.jade

block title_name
	title=title

block main_content
	include ./blocks/preloader
	include ./blocks/menu
	include ./blocks/header
	include ./blocks/new_collection
	include ./blocks/must_have
	include ./blocks/most_wanted
	include ./blocks/sale
	include ./blocks/news
	include ./blocks/footer
